 <!-- Header Area Starts -->
 {% load static %}
 <!-- Header Area Starts -->
 <header class="header-area main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>  
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">home</a></li>
                            <li><a href="{% url 'about' %}">about us</a></li>
                            <li><a href="{% url 'programs' %}">Training Programs</a></li>
                            <li class="menu-btn">
                                <a href="#" class="template-btn">Login</a>
                            </li>
                            {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                                <li class="menu-btn">
                                    <a href="#" class="template-btn" id="registerbuttonchange">Register</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="#" class="template-btn" id="registerbuttonchange">Register</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
