{% extends 'base.html' %}
{% block content %}
        <div class="container-contact2">
            <div class="wrap-contact2">
                {% include 'partials/_alerts.html' %}
                <form class="contact2-form validate-form" method="POST" action="{% url 'change_password' request.user.id %}" id="my_form">
                    {% csrf_token %}
                    {% if request.user.has_usable_password %}
                    <span class="contact2-form-title">
                        Change Profile Password
                    </span>
                        <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <input class="input2" type="password" name="old_password">
                            <span class="focus-input2" data-placeholder="CURRENT PASSWORD"></span>
                        </div>
                    {% else %}
                        <span class="contact2-form-title">
                            Add Profile Password
                        </span>
                        {% if not messages %}
                            <div class="alert alert-warning alert-dismissable text-center" role="alert" id="message">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">
                                    &times;</span></button>
                                    You haven't set password for the current account
                            </div>   
                        {% endif %}
                        <input class="input2" type="hidden" name="old_password" value="not_empty">
                    {% endif %}

                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            <input class="input2" type="password" name="password">
                            <span class="focus-input2" data-placeholder="PASSWORD"></span>
                    </div>

                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input class="input2" type="password" name="password2">
                        <span class="focus-input2" data-placeholder="CONFIRM PASSWORD"></span>
                    </div>

                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn">
                                Change password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
      </div>
{% endblock %}