{% extends 'base.html' %}
{% block content %} 
    <div class="container-contact2">
            <div class="wrap-contact2">
                {% include 'partials/_alerts.html' %}
                <form class="contact2-form validate-form" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <span class="contact2-form-title">
                    Login
                    </span>

                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input class="input2" type="text" name="username" {% if current_user %} value="{{ current_user.username }}" {% endif %}>
                        <span class="focus-input2" data-placeholder="USERNAME"></span>
                    </div>
                       
                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input class="input2" type="password" name="password">
                        <span class="focus-input2" data-placeholder="PASSWORD"></span>
                    </div>


                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}