{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %} 
    <div class="container-contact2">
            <div class="wrap-contact2">
                {% include 'partials/_alerts.html' %}
                <form class="contact2-form validate-form" method="POST" action="{% url 'reset_password' %}">
                    {% csrf_token %}
                    <span class="contact2-form-title">
                    Password Reset
                    </span>

                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            {{ form.email|add_class:"input2" }}
                        <span class="focus-input2" data-placeholder="EMAIL"></span>
                    </div>
                    <p class="help is-danger">{{ form.email.errors }}</p>

                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
      </div>
{% endblock %}