{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %} Password Reset {% endblock %}
{% block content %} 

    <div class="container-contact2">
            <div class="wrap-contact2">
                <form class="contact2-form validate-form" method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% include 'partials/_alerts.html' %}
                    <span class="contact2-form-title">
                    Password Reset
                    </span>

                   
                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                            {{ form.new_password1|add_class:"input2" }}
                        <span class="focus-input2" data-placeholder="PASSWORD"></span>
                    </div>
                    <p class="help is-danger">{{ form.new_password1.errors }}</p>


                    <div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                           {{ form.new_password2|add_class:"input2" }}
                        <span class="focus-input2" data-placeholder="CONFIRM PASSWORD"></span>
                    </div>
                    <p class="help is-danger">{{ form.new_password2.errors }}</p>



                    <div class="container-contact2-form-btn">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                            <button class="contact2-form-btn">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}