{% extends 'base.html' %}
{% block content %}
<!-- Banner Area Starts -->
<section class="banner-area banner-bg about-page text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-text">
                        <h3>schedule</h3>
                        <a href="index.html">home</a>
                        <span class="mx-2">/</span>
                        <a href="schedule.html">schedule</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    <!-- Schedule Area Starts -->
    <section class="schedule-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h3>schedule your fitness process</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
				<div class="table-wrap col-lg-12">
					<table class="schdule-table table">
						<thead class="thead-light">
							<tr>
                                <th class="head" scope="col"> {{ day.program_id.program_name }}</th>
                                <th class="head" scope="col">mon</th>
								<th class="head" scope="col">tue</th>
								<th class="head" scope="col">wed</th>
								<th class="head" scope="col">thu</th>
								<th class="head" scope="col">fri</th>
							</tr>
						</thead>
						<tbody>
                            {% for day in week %}
                                <tr>
                                    {% if day == 'rest' %}
                                        <th class="name" scope="row">Rest Day</th>
                                    {% else %}
                                        <th class="name" scope="row">Day {{ day.for_day }}</th>
                                        <td>{{ day.ex1 }} {{ day.reps1 }}</td>
                                        <td>{{ day.ex2 }} {{ day.reps2 }}</td>
                                        <td>{{ day.ex3 }} {{ day.reps3 }}</td>
                                        <td>{{ day.ex4 }} {{ day.reps4 }}</td>
                                        <td>{{ day.ex5 }} {{ day.reps5 }}</td>
                                        <td>{{ day.ex6 }} {{ day.reps6 }}</td>
                                        <td>{{ day.ex7 }} {{ day.reps7 }}</td>
                                    {% endif %}
                                </tr>
                                {% if forloop.last %}
                                    {% if not week.has_other_pages %}
                                        <tr>
                                            <th class="name" scope="row">REPEAT</th>
                                            <td><i class="fa fa-repeat" style="font-size:36px;"></i></td>
                                            <td><i class="fa fa-repeat" style="font-size:36px;"></i></td>
                                            <td><i class="fa fa-repeat" style="font-size:36px;"></i></td>
                                            <td><i class="fa fa-repeat" style="font-size:36px;"></i></td>
                                            <td><i class="fa fa-repeat" style="font-size:36px;"></i></td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
        </div>
    </section>
    <!-- Schedule Area End -->

    <!-- Pagination -->
    {% if week.has_other_pages %}
        {% include 'partials/_pagination.html' with paginate=week %}
    {% endif %}
{% endblock %}